/* catppuccin mocha colorscheme */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* Base bar look */
window#waybar {
  background: @base;
  color: @text;
}

/* Reset how buttons looks */
button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

/* Styles for the workspaces area and buttons */
#workspaces {
  background-color: @surface0;
  padding: 0;
  margin: 0;
}

#workspaces button {
  color: @text;
  background-color: transparent;
  padding: 0 5px;
}

#workspaces button:hover {
  background-color: @surface2;
  color: @yellow;
  box-shadow: inset 0 -3px @yellow;
}

#workspaces button.focused {
  background-color: @surface1;
  color: @blue;
  box-shadow: inset 0 -3px @blue;
}

#workspaces button.urgent {
  background-color: @surface2;
  color: @red;
  box-shadow: inset 0 -3px @red;
}

/* Base styles for the rest of the objects */
#backlight,
#battery,
#clock,
#cpu,
#custom-mxergo,
#idle_inhibitor,
#memory,
#mode,
#mpris,
#network,
#privacy,
#pulseaudio,
#scratchpad,
#temperature,
#tray {
  background-color: @surface0;
  color: @lavender;
  padding: 0 10px;
}

/* Override styles for the rest of the objects */

/* Backlight */
#backlight {
  color: @yellow;
}

/* Battery indicator */
#battery {
  color: @green;
}

#battery.charging,
#battery.plugged {
  color: @green;
  box-shadow: inset 0 -3px @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
  box-shadow: inset 0 -3px @yellow;
}

@keyframes blink {
  to {
    box-shadow: inset 0 -3px @surface0;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  box-shadow: inset 0 -3px @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Clock */
#clock {
  color: @blue;
}

/* CPU usage */
#cpu {
  color: @green;
}

/* Styles for my custom battery indicator for my MX Ergo */
#custom-mxergo.good {
  color: @green;
}

#custom-mxergo.moderate {
  color: @yellow;
}

#custom-mxergo.critical {
  color: @red;
  box-shadow: inset 0 -3px @red;
}

/* Idle inhibitor */
#idle_inhibitor.activated {
  box-shadow: inset 0 -3px @lavender;
}

/* Memory usage */
#memory {
  color: @mauve;
}

/* Mode inicator (resize mode for instance) */
#mode {
  box-shadow: inset 0 -3px @lavender;
}

/* Mpris music player indicator */
#mpris.firefox {
  color: @maroon;
}

#mpris.spotify {
  color: @green;
}

/* Network indicator */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
  box-shadow: inset 0 -3px @red;
}

/* Privacy module */
#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: @text;
}

#privacy-item.screenshare {
  color: @red;
  box-shadow: inset 0 -3px @red;
}

#privacy-item.audio-out {
  color: @blue;
}

#privacy-item.audio-in {
  color: @yellow;
}

/* Pulseaudio module */
#pulseaudio {
  color: @yellow;
}

#pulseaudio:hover {
  color: @peach;
}

#pulseaudio.muted {
  color: @teal;
}

#pulseaudio.muted:hover {
  color: @sky;
}

/* Temperature module */
#temperature {
  color: @peach;
}

#temperature.critical {
  color: @red;
}

/* Tray module */
#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
